<div class="bg-white" >
    <div class="mx-auto max-w-2xl py-4 px-4 sm:px-6 lg:max-w-7xl lg:px-8">
        <h2 class="text-2xl font-bold tracking-tight text-gray-900">
            Products List
        </h2>
        <form>
            <label htmlFor="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">
                Search
            </label>
            <div class="relative">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" strokeLinecap="round" strokeLinejoin="round" strokeWidth={2}
                            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                    </svg>
                </div>
                <input type="search" id="default-search" [(ngModel)]="keywords"
                    (input)="handelChangeInputSearchProduct()" name="keywords"
                    class="outline-none mb-4 block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500"
                    placeholder="Search Name Product..." />
            </div>
        </form>
        <div
            class="flex items-center justify-between flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 pb-4 bg-white ">
            <div>
                <button id="dropdownActionButton" (click)="handleClickDisplayed()" data-dropdown-toggle="dropdownAction"
                    class="inline-flex outline-none items-center text-gray-500 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-3 py-1.5 "
                    type="button">
                    <span class="sr-only">Action button</span>
                    Categories
                    <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="false" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 4 4 4-4" />
                    </svg>
                </button>
                <div id="dropdownAction" [ngClass]="{'block': isDisplayBlock, 'hidden': !isDisplayBlock}"
                    class="z-10 block bg-white divide-y divide-gray-100 rounded-lg shadow w-52 overflow-y-auto"
                    style="max-height: 120px;">
                    <ul class="py-1 text-sm text-gray-700 relative w-full" aria-labelledby="dropdownActionButton">
                        <li class="w-[90%] cursor-auto" >
                            <a (click)="handleFilterCategory(defautlString)"
                                class="block cursor-auto px-4 py-2 hover:bg-gray-100">AllProducts</a>
                        </li>
                        <li class="w-[90%] cursor-auto" *ngFor="let cate of categoryList">
                            <a (click)="handleFilterCategory(cate.category)"
                                class="block px-4 cursor-auto py-2 hover:bg-gray-100 ">{{cate.category}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div *ngIf="productsList && productsList.length > 0; else productNull" class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
            <app-product-card *ngFor="let productItem of productsList" [product]="productItem"></app-product-card>
        </div>
        <app-pagination *ngIf="totalPages > 1" [total]="totalPages" [page]="PageIndex"></app-pagination>
    </div>
</div>

<ng-template #productNull>
    <h3 class="text-center font-bold uppercase text-xl my-4">Không có sản phẩm nào!</h3>
</ng-template>