<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-gray-500 text-center">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 ">
            <tr class="w-full flex justify-between">
                <th scope="col" class="px-6 py-3">
                    #
                </th>
                <th scope="col" class="px-6 py-3 text-center">
                    Category name
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="odd:bg-white  even:bg-gray-50 border-b w-full flex justify-between">
                <th scope="row" class="px-6 py-3 font-medium text-gray-900 whitespace-nowrap ">
                    1
                </th>
                <td class="px-6 py-3 text-center">
                    Category 1
                </td>
                <td class="px-6 py-3">
                    <button class="px-2 py-3 bg-red-500 rounded-md text-white font-medium">REMOVE</button>
                    <a routerLink="/admin/categories/edit/2" class="font-medium text-blue-600 hover:underline"><button
                            class="ml-4 px-5 py-3 bg-green-500 rounded-md text-white font-medium">EDIT</button></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>