<div class="group relative">
    <div
        class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
        <img [src]="product.image"
            class="w-full object-contain object-center lg:h-full lg:w-full aspect-square group-hover:scale-110 transition duration-300 ease-in-out"
            alt="">
    </div>
    <div class="mt-4 flex justify-between">
        <div>
            <h3 class="text-sm text-gray-700 mr-3">
                <a href="/product_detail/{{product._id}}">
                    <span aria-hidden="true" class="absolute inset-0"></span>
                    {{product.title | description: 40}}
                </a>
            </h3>
            <p class="mt-1 text-sm text-gray-500">{{product.category}}</p>
            <div class="flex items-center mt-2.5 mb-5">
                <app-products-rate [rateInit]="product.rate" ></app-products-rate>
                <span class="bg-blue-100 text-blue-800 text-xs font-semibold px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ms-3">{{product.rate}}</span>
            </div>
        </div>
        <p class="text-sm font-medium text-gray-900">${{product.price}}</p>
    </div>
</div>