<section class="bg-white ">
    <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
        <h2 class="mb-4 text-xl font-bold text-gray-900 text-center uppercase">Update product</h2>
        <form action="#" (ngSubmit)="handleSubmit()">
            <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
                <div class="sm:col-span-2">
                    <label for="name" class="block mb-2 text-sm font-medium text-gray-900 ">Product Name</label>
                    <input type="text" [(ngModel)]="productUpdate.title" name="name" id="name"
                        class="bg-gray-50 outline-none border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 "
                        placeholder="Type product name" required="">
                </div>
                <div class="w-full">
                    <label for="rate" class="block mb-2 text-sm font-medium text-gray-900 ">Rate</label>
                    <input type="number" [(ngModel)]="productUpdate.rate" name="rate" id="rate"
                        class="bg-gray-50 outline-none border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 "
                        placeholder="Product brand" required="">
                </div>
                <div class="w-full">
                    <label for="price" class="block mb-2 text-sm font-medium text-gray-900 ">Price</label>
                    <input type="number" [(ngModel)]="productUpdate.price" name="price" id="price"
                        class="bg-gray-50 outline-none border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 "
                        placeholder="$2999" required="">
                </div>
                <div>
                    <label for="category" class="block mb-2 text-sm font-medium text-gray-900 ">Category</label>
                    <select id="category" name="category" [(ngModel)]="productUpdate.category"
                        class="bg-gray-50 outline-none border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 ">
                        <option selected>Select category</option>
                        <ng-container *ngFor="let cate of Category">
                            <option [selected]="cate.category === productUpdate.category" [value]="cate.category">
                                {{cate.category}}
                            </option>
                        </ng-container>
                    </select>
                </div>
                <div>
                    <label for="image" class="block mb-2 text-sm font-medium text-gray-900 ">Image</label>
                    <input type="text" name="image" [(ngModel)]="productUpdate.image" id="image"
                        class="bg-gray-50 outline-none border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 "
                        placeholder="12">
                </div>
                <div class="sm:col-span-2">
                    <label for="description" class="block mb-2 text-sm font-medium text-gray-900 ">Description</label>
                    <textarea id="description" name="description" [(ngModel)]="productUpdate.description" rows="8"
                        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 outline-none rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 "
                        placeholder="Your description here"></textarea>
                </div>
            </div>
            <button type="submit"
                class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-primary-200  hover:bg-primary-800">
                Update product
            </button>
        </form>
    </div>
</section>
